ul.todoList {
    margin-top: 3rem;
    list-style: none;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    padding: 0;
    .itemContent.checked {
        text-decoration: line-through;
    }
    .listItem {
        padding: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba(0,0,0,0.1);

        display: flex;
        justify-content: space-between;
        transition: background-color 0.25s;
        input {
            border: none;
            background: none;
            &:focus {
                background-color: white;
                outline: 1px solid grey;
            }
        }
        &:hover:not(.title) {
            cursor: pointer;
            background-color: var(--list-hover);
        }
        button {
            margin-left: 1rem;
            color: white;
            &.delete {
                background-color: var(--red);
            }
            &.save {
                background-color: var(--blue-hover);
                &.is-edited {
                    background-color: var(--blue);
                }
                i {
                    pointer-events: none;
                }
            }
            &.check {
                background-color: var(--green-hover);
                margin-left: 0;
                margin-right: 1rem;
                &:hover {
                    opacity: 1;
                    background-color: var(--green);
                }
            }
     
        }
  
        button.check.checked {
            background-color: var(--green);
            &:hover {
                background-color: var(--green-hover);
            }
        }
        .buttons{
            white-space: nowrap;
            &.checked button {
                &.edit {
                    background-color: var(--blue-hover);
                }
                &.delete {
                    background-color: var(--red-hover);
                }
            }
        }
        .itemContent {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
    .listTitle {
        font-weight: 800;
        margin: 1rem;
        margin-left: 0;
        font-size: 2rem;
    }
}