ul.todoList {
    margin-top: 3rem;
    list-style: none;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    padding: 0;
    div.checked {
        text-decoration: line-through;
    }
    .listItem {
        padding: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba(0,0,0,0.1);

        display: flex;
        justify-content: space-between;
        button {
            margin-left: 1rem;
            color: white;
            &.delete {
                background-color: var(--red);
            }
            &.edit {
                background-color: var(--blue);
            }
            &.check {
                background-color: var(--green-hover);
                &.checked {
                    background-color: var(--green);
                    &:hover {
                        background-color: var(--green-hover);
                    }
                }
                &:hover {
                    opacity: 1;
                    background-color: var(--green);
                }
            }
        }
        .itemContent {
            width: 100%;
        }
        .buttons {
            white-space: nowrap;

        }
    }
    .listTitle {
        font-weight: 800;
        margin: 1rem;
        margin-left: 0;
        font-size: 2rem;
    }
}