.listMakerComponent {
    h1 {
        color: green;
    }
    .editor {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button {
        &.square {
            aspect-ratio: 1;
        }
        &.add-item {
            margin-left: 1rem;
            color: white;
            background-color: var(--green);
        }
    }
}