.listMakerComponent {
    .errorMessage {
        color: var(--red);
        height: 2rem;
        margin: -1rem 0 1rem 0;
        text-align: center;
        @media (min-width:1000px) {
            font-size: 1.2rem;
        }
    }
    .editor {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button {
        &.square {
            aspect-ratio: 1;
        }
        &.add-item {
            margin-left: 1rem;
            color: white;
            background-color: var(--green-hover);
            transition: background-color 0.3s;
            &:hover {
                opacity: 1;
                background-color: var(--green);
            }
        }
    }
    @media screen and(max-width:1000px) {
        .editor {
            flex-direction: column-reverse;
            & >* {
                margin-top: 1rem;
            }
        }
    }
}