:root {
    --primary: #F4B860;
    --red: #AD2E24;
    --red-hover: #c75146;
    --green-dark: #004F2D;
    --green:#0A8754;
    --green-hover: #7cae7a;
    --blue: #086788;
    --blue-hover: #BFD7EA;
    --logo:#F05365;
    --list-hover: rgb(240,240,240)
}
h1#title {
    font-size: 4rem;
    text-align: center;
}
#root {
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    padding-right: 4rem;
    overflow: auto;
}
button {
    cursor: pointer;
    transition: opacity 0.3s, background-color 0.3s;
    align-self: center;
    display: inline-flex;
    padding:0.75rem;
    border:none;
    outline: none;
    border-radius: 2px;
    &:hover:not(:active){
        opacity: 0.75;
    }
    &:active {
        transition: none;
    }
}
@media screen and(max-width:1000px) {
    h1#title {
        margin-top: 5rem;
        font-size: 2rem;
    }
}