.reset-list {
  margin-right: 1rem;
  font-weight: 600;
  color: white;
  background-color: var(--red-hover);
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  opacity: 1;
  &:hover {
  opacity: 1 !important;
    background-color: var(--red);
  }
  i {
    margin-left: 0.5rem;
  }
}
